.ipynb_checkpoints/
Misc Code/log/
Misc Code/Trained-Model/
sampleSub.json
Point-transformer-module-(alternative-code)/Pointnet_Pointnet2_pytorch-master/Pointnet_Pointnet2_pytorch-master/data/
Point-transformer-module-(alternative-code)/Pointnet_Pointnet2_pytorch-master/Pointnet_Pointnet2_pytorch-master/log/
Point-transformer-module-(alternative-code)/Pointnet_Pointnet2_pytorch-master/Pointnet_Pointnet2_pytorch-master/__pycache__/
first_batch.pth
Untitled.ipynb
Pointnet_Pointnet2_pytorch-master.zip
__pycache__/
Point-Transformers-method/data/
Point-Transformers-method/log/
Point-Transformers-method/train_cls.py
Point-Transformers-method/train.partseg.py
*.json
*.txt