.ipynb_checkpoints/
Misc Code/log/
Misc Code/Trained-Model/
first_batch.pth
Untitled.ipynb
__pycache__/
Point-Transformers-method/data/
Point-Transformers-method/log/
Point-Transformers-method/train_cls.py
Point-Transformers-method/train.partseg.py